# Folioman API Configuration
FOLIOMAN_BASE_URL=http://localhost:8000
FOLIOMAN_USERNAME=your_username
FOLIOMAN_PASSWORD=your_password
FOLIOMAN_TIMEOUT=30.0
OPENAI_KEY=your_key


LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=value
LANGSMITH_API_KEY=value
LANGSMITH_PROJECT=value